<div>
  <h1>Minha Biblioteca de musicas:</h1>
  <table>
    <thead>
      <tr>
        <h2>Categorias</h2>
        <p>Samba:</p>
        <p>MPB:</p>
        <p>Rock:</p>
        <p>Pagode:</p>
        <p>Sertanejo:</p>
        <p>Forró:</p>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let music of list">
        <td>{{ music.id }}</td>
        <td>{{ music.filename }}</td>
        <td>{{ music.category_id }}</td>
      </tr>
    </tbody>
  </table>

    <div>
      <h2>Nova Categoria: </h2>
    </div>

    <div>
      <label>Nome: </label>
      <input type="text" value="music"  [(ngModel)]="newList.filename">
      <input type="submit" value="Salvar">
      <a routerLink="/library">Categorias:</a>
    </div>

</div>
